In [ ]:
import pandas as pd
df = pd.read_csv('customer_data.csv')

In [31]:
df.head()

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [32]:
df.shape

(30000, 20)

In [33]:
age_data = df['age']
print(age_data.max())
print(age_data.min())
print(age_data.mean())

65
18
41.550066666666666

In [34]:
df['name'] = df['first'] + df['last']
df['name'].value_counts(ascending=False)[:3]

name
HenriettaLuna    4
CarlMorton       3
WilliamHill      3
Name: count, dtype: int64

In [35]:
same_phn = df.groupby('phone').filter(lambda x: len(x)>1)
same_phn[['name', 'phone']]

          name           phone
15  LillyTyler  (263) 382-8004
16   PeterCain  (263) 382-8004

In [36]:
len(df[df['profession']=='Structural Engineer'])

87

In [37]:
len(df[(df['gender']=='Male') & (df['profession']=='Structural Engineer')])

43

In [38]:
df[(df['gender']=='Female') & (df['profession']=='Structural Engineer') & (df['province']=='AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,...,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903,RoyStanley
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,...,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028,LoraKennedy
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,...,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951,NellRichards
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,...,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989,DonMcDaniel

In [39]:
spending_data = df['price(CAD)']
print(spending_data.max())
print(spending_data.min())
print(spending_data.mean())

100.0
0.0
49.990775

In [40]:
df[df['price(CAD)']==0]['name']

5320     BruceBryan
10597    FloraClark
Name: name, dtype: object

In [41]:
df[df['price(CAD)']>=100]['name']

76          GregoryBrown
21093    CodyChristensen
24385        LizzieDixon
Name: name, dtype: object

In [42]:
df[df['cc_no'] == 5020000000000230]['email']

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

In [43]:
df['cc_exp_year'] = pd.to_datetime(df['cc_exp'],format='%m/%Y')
df[df['cc_exp_year'].dt.year == 2019]['name']

45       WinifredHenderson
46           CarolynHorton
49             VirgieAdams
60               BlakeHart
66          LeilaCarpenter
               ...
29952         JuliaElliott
29957       RonaldStephens
29959        IsaacGuerrero
29966      HunterRodriguez
29987           BillyLucas
Name: name, Length: 2684, dtype: object

In [44]:
len(df[df['cc_type']=='Visa'])

1721

In [45]:
df[(df['cc_type']=='Visa') & (df['price(CAD)'] == 100)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name,cc_exp_year
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,...,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063,GregoryBrown,2018-04-01

In [46]:
df['profession'].value_counts(ascending=False)[:2]

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [47]:
df['provider'] = df['email'].str.split('@').str[1]
df['provider'].value_counts(ascending=False)[:5]

provider
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [49]:
df[df['provider']=='am.edu']

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,name,cc_exp_year,provider
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066,LorettaFletcher,2021-05-01,am.edu

In [50]:
df.groupby('weekday')['name'].count().sort_values(ascending=False).index[0]

'Saturday'